In [5]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import tensorflow

In [4]:
from sklearn.model_selection import train_test_split

In [18]:
from datetime import datetime ,date

In [6]:
df = pd.read_csv('bmw_pricing_challenge.csv')

In [7]:
df.head()

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,140411,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
2,BMW,320,183297,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01
3,BMW,420,128035,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01
4,BMW,425,97097,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01

In [11]:
reg_date = pd.Series(df['registration_date'])

In [15]:
reg_date

0       2012-02-01
1       2016-04-01
2       2012-04-01
3       2014-07-01
4       2014-12-01
           ...
4838    2015-10-01
4839    2015-06-01
4840    2015-10-01
4841    2016-04-01
4842    2013-01-01
Name: registration_date, Length: 4843, dtype: object

In [32]:
df['registration_date'] = pd.to_datetime(df['registration_date'])
df['sold_at'] = pd.to_datetime(df['sold_at'])

In [33]:
df['vehicle_days']=df['sold_at']-df['registration_date']

In [40]:
df['age'] = df['sold_at'].dt.year-df['registration_date'].dt.year

In [41]:
df['age']

0       6
1       2
2       6
3       4
4       4
       ..
4838    3
4839    3
4840    3
4841    2
4842    5
Name: age, Length: 4843, dtype: int64

In [45]:
df.columns

Index(['maker_key', 'model_key', 'mileage', 'engine_power',
       'registration_date', 'fuel', 'paint_color', 'car_type', 'feature_1',
       'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6',
       'feature_7', 'feature_8', 'price', 'sold_at', 'vehicle_days', 'age'],
      dtype='object')

In [47]:
df.dtypes

maker_key                     object
model_key                     object
mileage                        int64
engine_power                   int64
registration_date     datetime64[ns]
fuel                          object
paint_color                   object
car_type                      object
feature_1                       bool
feature_2                       bool
feature_3                       bool
feature_4                       bool
feature_5                       bool
feature_6                       bool
feature_7                       bool
feature_8                       bool
price                          int64
sold_at               datetime64[ns]
vehicle_days         timedelta64[ns]
age                            int64
dtype: object

In [ ]:
X_train, X_test, Y_train , Y_test = train_test_split(x,y, test_size()=0.2 , )

In [56]:
## assign categorical columns
cat_cols = ['model_key', 'fuel','paint_color','car_type',
            'feature_1','feature_2','feature_3','feature_4',
            'feature_5','feature_6','feature_7','feature_8']
cont_cols = ['mileage','engine_power','price','vehicle_days']

In [57]:
df[cont_cols].describe()

            mileage  engine_power          price                  vehicle_days
count  4.843000e+03    4843.00000    4843.000000                          4843
mean   1.409628e+05     128.98823   15828.081767  1983 days 17:23:21.197604800
std    6.019674e+04      38.99336    9220.285684   927 days 06:40:57.469456592
min   -6.400000e+01       0.00000     100.000000             215 days 00:00:00
25%    1.029135e+05     100.00000   10800.000000            1489 days 00:00:00
50%    1.410800e+05     120.00000   14200.000000            1765 days 00:00:00
75%    1.751955e+05     135.00000   18600.000000            2130 days 00:00:00
max    1.000376e+06     423.00000  178500.000000           10258 days 00:00:00

In [60]:
df['mileage'] = df['mileage'].apply(lambda x:abs(x))

In [68]:
df[df.engine_power <= 0]

Empty DataFrame
Columns: [maker_key, model_key, mileage, engine_power, registration_date, fuel, paint_color, car_type, feature_1, feature_2, feature_3, feature_4, feature_5, feature_6, feature_7, feature_8, price, sold_at, vehicle_days, age]
Index: []

In [71]:
df.engine_power[df.engine_power==0] = df[(df.model_key =='X1')&(df.fuel =='diesel')&(df.age < 3.5)].engine_power.median()

C:\Users\pv502\AppData\Local\Temp/ipykernel_12336/4128719672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.engine_power[df.engine_power==0] = df[(df.model_key =='X1')&(df.fuel =='diesel')&(df.age < 3.5)].engine_power.median()

In [72]:
df.isna().sum()

maker_key            0
model_key            0
mileage              0
engine_power         0
registration_date    0
fuel                 0
paint_color          0
car_type             0
feature_1            0
feature_2            0
feature_3            0
feature_4            0
feature_5            0
feature_6            0
feature_7            0
feature_8            0
price                0
sold_at              0
vehicle_days         0
age                  0
dtype: int64