In [1]:
from sklearn.datasets import load_iris

In [2]:
dataset  = load_iris()

In [3]:
dir(dataset)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [6]:
import pandas as pd
df = pd.DataFrame(dataset.data,columns=dataset.feature_names)

In [7]:
df['target'] = dataset.target

In [8]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [9]:
dataset.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

sepal length (cm)    32.3
sepal width (cm)     14.6
petal length (cm)    22.7
petal width (cm)      7.2
target                5.0
dtype: float64

In [12]:
df['flower_names']=df.target.apply(lambda x : dataset.target_names[x])

In [13]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [14]:
from matplotlib import pyplot as plt

In [15]:
%matplotlib inline

In [16]:
x = df.drop(['target','flower_names'],axis='columns')

In [17]:
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [19]:
y = df.target
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int32

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [25]:
from sklearn.svm import SVC
model = SVC()
model.fit(x_train,y_train)

SVC()

In [26]:
model.score(x_test,y_test)

0.9666666666666667