In [73]:
import numpy as np
import pandas as pd

In [74]:
df = pd.read_csv('ins_aff.csv')
df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [75]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(df[['age','affordibility']],df['bought_insurance'],test_size=0.2)

In [76]:
X_train_scaled = X_train.copy()
X_train_scaled['age'] = X_train_scaled['age']/100


X_test_scaled = X_test.copy()
X_test_scaled['age'] = X_test_scaled['age']/100

In [77]:
X_train_scaled.head()

     age  affordibility
26  0.23              1
7   0.60              0
24  0.50              1
12  0.27              0
11  0.28              1

In [78]:
Y_train.head()

26    0
7     1
24    1
12    0
11    0
Name: bought_insurance, dtype: int64

In [79]:
class myNN:
    def __init__(self):
        self.w1 = 1
        self.w2 = 1
        self.bias = 0
    
    def sigmoid_numpy(self , X):
        return 1/(1+np.exp(-X))
    
    def fit(self, X, Y , epochs, loss_threshold):
        self.w1, self.w2 , self.bias = self.gradient_descent(X['age'],X['affordibility'],Y, epochs, loss_threshold)
    
    def log_loss(self,Y_true,Y_predicted):
        epsilon = 1e-15
        y_predicted_new = [max(i,epsilon) for i in Y_predicted]
        y_predicted_new = [min(i,1-epsilon) for i in y_predicted_new]
        y_predicted_new = np.array(y_predicted_new)
        return -np.mean(Y_true*np.log(y_predicted_new)+((1-Y_true)*np.log(1-y_predicted_new)))
    
    def predict(self, X_test):
        weighted_sum = self.w1*X_test['age']+self.w2*X_test['affordibility']+self.bias
        return self.sigmoid_numpy(weighted_sum)
    
    def gradient_descent(self,age,affordability,y_true,epochs,loss_threshold):
        #w1,w2,bias
        w1,w2 =1,1
        bias = 0
        learning_rate = 0.5
        n = len(age)
        for i in range(epochs):
            weighted_sum = w1*age+w2*affordability+bias
            y_predicted = self.sigmoid_numpy(weighted_sum)
            loss = self.log_loss(y_true,y_predicted)
            w1d =  (1/n)*np.dot(np.transpose(age),(y_predicted-y_true))
            w2d =  (1/n)*np.dot(np.transpose(affordability),(y_predicted-y_true))

            bias_d = np.mean(y_predicted-y_true)


            w1 = w1 - learning_rate*w1d
            w2 = w2 - learning_rate*w2d
            bias = bias - learning_rate*bias_d

            if(loss <= loss_threshold):
                break
            if(i%50 == 0):
                print(f'Epoch:{i}, w1:{w1}, w2:{w2}, bias:{bias}, loss:{loss}')
        return w1,w2,bias

In [80]:
model = myNN()
model.fit(X_train_scaled, Y_train,epochs=500,loss_threshold= 0.4712)

Epoch:0, w1:0.9731084148035436, w2:0.9486006719907148, bias:-0.11355882789613493, loss:0.7150764108848041
Epoch:50, w1:1.4293907709218443, w2:1.1278109396553817, bias:-1.2166099427422177, loss:0.574634950693045
Epoch:100, w1:2.0748582735877754, w2:1.3247879947256938, bias:-1.630849433049416, loss:0.5492395891782271
Epoch:150, w1:2.6855018476952077, w2:1.407302392909449, bias:-1.944422236718956, loss:0.5300171849157425
Epoch:200, w1:3.2508873416381454, w2:1.4463639290554504, bias:-2.2061164053717612, loss:0.5143705458746853
Epoch:250, w1:3.7700742023202505, w2:1.4690363487870377, bias:-2.436190694749447, loss:0.5014053753002484
Epoch:300, w1:4.245644949076507, w2:1.4858781339721332, bias:-2.643874513197672, loss:0.49058599311587847
Epoch:350, w1:4.681321599771034, w2:1.5009404703945224, bias:-2.8338687740298165, loss:0.4815112011663535
Epoch:400, w1:5.0809904841043165, w2:1.5156739136822066, bias:-3.008921131633108, loss:0.473863517753834

In [81]:
model.predict(X_test_scaled)

20    0.388181
14    0.732998
18    0.110939
9     0.837219
17    0.814683
0     0.400676
dtype: float64

In [82]:
X_test_scaled

     age  affordibility
20  0.21              1
14  0.49              1
18  0.19              0
9   0.61              1
17  0.58              1
0   0.22              1